{% extends 'base.html' %}

{% block content %}

<html>
<head>

    <div class="jumbotron">
        <h1 class="display-4">Welcome To Elite App...</h1>
        <p class="lead">I,m Pratik Rane.</br>Founder Of This Website...</br></br></p>
        <hr class="my-4">
        <p>This Is An Under Progress App...</p>
        <p>You Can Still Experience Features Like Weather Of My City ,Pune....</p>
        <p>Thank You For Visiting My Web App....</p>
        <a class="btn btn-primary btn-lg" href="/about.html" role="button">Know More...</a>
    </div>
</br>
      
</head>
<body>

</body>

{% endblock %}


